KINDLE_URL=https://read.amazon.co.jp/
HEADLESS=false
BROWSER_CHANNEL=
PLAYWRIGHT_CLI_COMMAND=playwright-cli
PLAYWRIGHT_CLI_SESSION=pagecaster
VIEWPORT_WIDTH=1600
VIEWPORT_HEIGHT=1200
CAPTURE_CLIP_X=160
CAPTURE_CLIP_Y=80
CAPTURE_CLIP_WIDTH=1280
CAPTURE_CLIP_HEIGHT=1040
PAGE_CHANGE_TIMEOUT_MS=10000
PAGE_CHANGE_POLL_MS=250
PAGE_TURN_KEY=ArrowLeft
